#presentsection {
	color: #ffffffdb;
	background: url(../img/1.eps) no-repeat center top; 
	margin-top: 0px:
	padding-top: 0px;
	text-align: right;
	background-attachment: relative;
	min-height: 200px;
	width: 100%;

	background-size: 100%; 

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;  
}

.dropdown-menu {
    min-width: 135px;
    padding: 0px 0px;
    margin: 2px 0 0;
    color: #ffffff;
    background-color: #001524;
}

/* Izmenenie cveta fona i teksta pri navedenii na punkt menu */
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
    color: #487df6db;
    background-color: #ffffffdb;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover,{
	color: #487df6db;
    background-color: #ffffffdb;
}


.dropdown-menu>li>a,
.navbar-default .navbar-toggle
.navbar-default .navbar-nav>li>a, 
 {
	color: #ffffff;
	font-size: 14px;
	border-radius: 0px;
	max-height: 50px;
}

/* Vydelenie sinim cvenom Menu Icon */
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background-color: #487df6db;
    border-color: #ffffffdb;
}

/*mini menu na small screens*/
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffffdb;
}

.navbar-brand img {
	position: relative;
	margin:  -21px -10px 0px;
	max-width: 135px;	
}

.navbar-brand {
	padding-right: 80px;
}

.nav>li>a>img {
    max-height: 43px;
}

footer, .menu, .text-muted {
	background: #001524;
	color: #ffffffdb;
	border: 0px;
	font-size: 16px;
	padding: 10px, 0;
}

a.dropdown-toggle.text-center {
	padding-top: 4px;
}

img {
	max-width: 100%;
	height: auto;
}

header {
	margin: 0 0px 0px;
	width: 100%;
	min-height: 50px;
}

body v{
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #ffffff;
	background: #ffffffdb;
	font-weight: normal;
}

@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

/* Large Devices, Wide Screens */
@media only screen and (max-wight : 1200px) {

}

/* Medium Devices, Wide Screens */
@media only screen and (max-wight : 992px) {
	
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a,
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, 
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
		color: #ffffffdb;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, 
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
	    background-color: #487df6db;
	}

}

@media only screen and (max-wight : 767px) {
	
}