@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:300,500|Open+Sans:300,300i|Poiret+One&subset=cyrillic,cyrillic-ext');
/*
font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poiret One', cursive;
*/
@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	/*
	font-size: 15px;
	line-height: 1.5;
	*/
	font: 15px/1.5;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #fdfdfd;
	-webkit-font-smoothing: antialised;
	-webkit-overflow-scrolling: touch;
}

/* Global */
.container {
	margin: auto;
	overflow: hidden;
  width: auto
}

ul, li {
	display: block;
	float: center;
	/* Na vsjakij sluÄaj */
	padding: 0;
	margin: 0;
}

header,
footer {
	background: #35424a;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
}

header {
	margin: 0 0px 15px;
	width: 100;
	min-height: 50px;
	margin-bottom: 0px;
}

footer,
footer .text-muted {
	padding: 20px;
	margin-top: 20px;
	color: #ffffff;
}

h1 {
	font-family: 'Poiret One', cursive;
}

p {
	line-height: 28px;
	margin-bottom: 25px;
}

img {
	max-width: 100%;
	align-items: center;
}

a.navbar-brand img {
	max-height: 45px;
  margin-top: -12px;
	background-color: #ffffff;
	position: relative;
}

a,
.navbar-inverse .navbar-nav>li>a,
.dropdown-menu>li>a {
	color: #ffffff;
	text-decoration: none;
	outline: 0;
	-webkit-transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
	transition: all 1.5s ease;
}

a:hover,
a:focus,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
	background-color: #487df6;
	text-decoration: none;
	outline: 0;
	color: #ffffff;

}

.navbar {
	font-weight: 100;
	font-family: 'Open Sans', sans-serif;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #487df6;
}

.navbar-inverse .navbar-toggle {
	border-radius: 0px;
	border-color: #ffffff;
}

.dropdown-menu {
	text-align: text-uppercase;
	background-color: black;
}

.button_1 {
	height: 26px;
	background: #e8491d;
	border: 0;
	padding: 0px 15px 0px 15px;
	margin: 0 15px 0px 0px;
}

.button_1:hover {
	background-color: #487df6;
}



#toggle-menu {
	padding-right: 28px;
}


/* main/index.php NewSletter */

#newsletter {
	padding: 15px;
	color: #ffffff;
	background: #35424a;
}

#newsletter > div {
	display: block;
	/* padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px; */
	position: relative;
}

#newsletter h1 {
	font-size: 20px;
	float: left;
	display: block;
	position: absolute;
	margin: 15px 0px 0px 15px;
}

#newsletter form {
	float: right;
	margin-top: 15px;
}

#newsletter input[type="email"] {
	/* padding: 4px 0 4px 4px;
  margin: 0px 0 15px -275px; */
	height: 25px;
	width: 250px;
	color: rebeccapurple;
}

#boxes {
	margin: 15px 0 0 15px;
}

#boxes .box {
	float: left;
	width: 30%;
	padding: 15px;
	text-align: center;
	margin: 0 3.333% 0 0;
}
#boxes svg {
	min-width: 80px;
	font-size: 60px;
}


.box {
	display: block;
	margin: 0;
	border: 1px solid #000;
	border-radius: 3px;
	left: 10px;
}

#box__1,
#box__3 {
	background-color: #ddd;
}

#gallery {
	margin: 0px 20px 0 25px;
	overflow: hidden;
}

#gallery .row::before,
#gallery .row::after {
	content: none;
}

#gallery .container .row {
	margin-top: 10px;
	text-align: center;
	/* border: 1px solid red; */
	/* border-radius: 5px; */
	/* width: auto; */
	display: grid;
	grid-gap: 3px;
	grid-template: repeat(3, 150px) / repeat(3, 2fr);
	grid-auto-rows: minmax(100px;auto);
	grid-template-areas:
		"gpic__1 gpic__1 gpic__2"
		"gpic__1 gpic__1 gpic__2"
		"gpic__3 gpic__4 gpic__4";

	/* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
	/*  */
	/* grid-auto-rows: minmax(100px, auto); */
	/* grid-template-rows: auto; */
	/* grid-auto-flow: row; */
	/* grid-template-rows: 1fr 1fr; */
/* rastjagivanie elementov vnuri senti */
	/* justify-items: stretch;
	align-items: stretch; */
}

.gpic {
		position: relative;
		display: block;
		background-color: #35424a;
		/* justify-content: center; */
		/* border: 1px solid red; */
		/* overflow: scroll; */
		margin: 0;
		text-align: center;
		overflow: hidden;
}

#gallery .row div:nth-child(1) {
	grid-area: gpic__1;
}

/* #gpic__2, */
#gallery .row div:nth-child(2) {
	grid-area: gpic__2;
	/* grid-column: 3 / -1;
	grid-row: 1 / 3;
	background: green;
	background: url(../img/check_h.jpg) no-repeat;
	justify-self: end; */
}
/* #gpic__3,  */
#gallery .row div:nth-child(3) {
	grid-area: gpic__3;

	/* grid-column: 1 / 3;
	grid-row: 3 / -1;
	background: url(../img/check_f.jpg) no-repeat; */
}

/* #gpic__4, */
#gallery .row div:nth-child(4) {
	grid-area: gpic__4;
	/* background: url(../img/check_g.jpg) no-repeat; */
	/* grid-column: 2 / 4; */
	/* grid-row: 1 / -1; */

}

.gpic>h3,
.gpic>p,
.gpic>img {
	/* margin: 0; */
	/* padding: 0; */
}

.gpic>h3,
.gpic>p {
	display: block;
	position: absolute;
	background: rgba(0, 0, 0, 0.3);
	color: #ffffff;
}

.gpic>h3{
	border-radius: 15px;
	margin: 0;
	padding: 10px 0px 5px 0px;
	width: 33%;
	left: 33%;
	top: 0px;
	opacity: 1;
	z-index: 1;
	text-align: center;
	transition: all .5s;

}

.gpic:hover h3 {
	opacity: 0;
}

.gpic>p {
	margin-bottom: 0px;
	width: 100%;
	opacity: 0;
	transform: scaleZ(0);
	transition: all .5s;
	bottom: -100%;
}

.gpic:hover .descr {
	opacity: 1;
	bottom: 0;
	transform: scaleZ(1);
}

.gpic img {
	width: 100%;
	height: 100%;
	opacity: 0.6;
	transition: all 1s;
}

.gpic:hover img {
	opacity: 0.15;
	bottom: 0;
}

#gpic__4 > img {
	margin-top: -25%;
	height: auto;
}

.row {
	padding: 0 15px 0 15px;
}
/* pageHeader */
.pageHeader .row {
	margin: 0;
	/* padding-right: 10px; */
	border-bottom: 0;
	text-align: right;
	float: right;
	overflow: hidden;
}

.row h1,
.row p {
	/* background-color: rgba(0, 0, 0, 0.55); */
	width: fit-content;
	padding: 0 05px 0 05px;
	display: block;
  /* float: right; */
}

.pageHeader h1,
.pageHeader p {
	background-color: rgba(0, 0, 0, 0.55);
  float: right;
}

/* main/index.php ShowCase */
#main {
	background: url(../img/showcase.jpg) no-repeat center;
	background-size: cover;
	color: #ffffff;
	/* background-position:; */
}
